body
{
    padding: 20px;
    width: 80%;
    margin: auto;
}
input
{
    margin: 5px;
}
.page
{
    font-size: 100px;
    font-family: 'Jura', sans-serif;
    background-color: rgba(202, 164, 91, 0.59);
    color: #000;
}
.boxes
{
    display: table; 
    width: 100%
}
.boxes
.box
{
    display: table-cell;
    padding: 5px;
}
.header
{
    margin: auto;
    width: 95%;
    font-size: 20%;
}
.header
.title 
{
    padding: 0 5px;
    vertical-align: middle;
    text-align: center;
    font-size: 300%;
    font-family: 'Pacifico', cursive;
    width: 30%;
}
.header
.title
.h1-paper
{
    margin: 0;
}
.header
.table-title
{
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    width: 5%;
    border: 2px dashed black;
}
.header
.table-title
.main-table-title
{
    font-weight: bold;
    font-size: 100%;
    white-space: nowrap;
}
.header
.table-title
.joke
{
    font-size: 70%;
    text-align: justify;
}
.header
.table-title
.time
{
    font-size: 60%;
    font-family: cursive;
}
.header 
.table-title
.weather-desc
{
    font-size: 70%;
    font-style: cursive;
    text-align: center;
}
hr
{
    margin: 5px 0;
}
.after-header
{
    margin-left: auto;
    margin-right: auto;
    font-size: 15%;
}
.after-header
.after-header-center
{
    width: 30%;
    text-align: center;
}
.after-header
.after-header-left
{
    width: 5%;
    text-align: left;
}
.after-header
.after-header-right
{
    width: 5%;
    text-align: right;
}
.main-content
{
    font-size: 15%;
    -webkit-column-count: 4; /* Safari и Chrome */
    -webkit-column-rule: 2px solid black;
    -webkit-column-gap: 10px;
    -moz-column-count: 4; /* Для Firefox */
    -moz-column-rule: 2px solid black;
    -moz-column-gap: 10px;
    column-count: 4;
    column-rule: 2px solid black;
    column-gap: 10px;
}
.main-content
.title-content
{
    text-align: center;
}
.main-content
.title-content::first-letter
{
    color: red;
    font-style: italic;
}
.quote
{
    color: #B51E38;
    font-style: italic;
}
.photo-block{
    text-align: center;
}
.photo-block
.photo
{
    width: 190px;
    border-radius: 30%;
}
.photo-block
.legend
{
    display: block;
    color: #FF06DC;
    text-align: center;
}
.article-div
{
    width: 30%;
    margin: 0 auto 10px;
}
#standart:checked ~ .page
{
    font-size: 100px;
}
#big:checked ~ .page
{
    font-size: 130px;
}
#small:checked ~ .page
{
    font-size: 70px;
}
#font-bad:checked ~ .page
{
    font-family: 'Bad Script', cursive;
}
#font-standart:checked ~ .page
{
    font-family: 'Jura', sans-serif;
}
#color-old:checked ~ .page
{
    background-color: rgba(202, 164, 91, 0.59);
}
#colors-standart:checked ~ .page
{
    background-color: white;
    color: black;
}
#colors-invert:checked ~ .page
{
    background-color: black;
    color: white;
}